# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/
.micromamba/
.mamba/
.nox/

# Data, results, and large files
*.h5
*.tsv
*.edf
*.fif
*.set
*.bdf
*.xdf
*.vhdr
*.vmrk
*.eeg
*.mat
*.mp4
*.mp3
*.wav

# DVC cache and pointers
!.dvc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# VSCode and IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore gdrive-sa.json
gdrive-sa.json

# Generated documentation files
site/
docs/_build/
*.js.map

# Ignore research_diary and its contents
/research_diary/
/research_diary/**/*.md
